:root{
    --clockColor : #d1dae3;
    --bodyColor:#d1dae3;
    --hoursColor: #777777;
    --clockShadowColor: #989ea5;
    --handColor: #000000;
    --secondsHandColor: #dc143c;
    --centerColor: #1a74be;
    --textShadowColor: #7777777a;
    --hDeg : 0deg;
    --mDeg: 0deg;
    --sDeg: 0deg;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    background-color: var(--bodyColor);
    display: flex;
    font-size: 45px;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.clock{
    background-color: var(--clockColor);
    border-radius: 50%;
    box-shadow: 7px 7px 7px var(--clockShadowColor),
    inset 0 0 50px var(--clockShadowColor);
    color: var(--hoursColor) ;
    display: grid;
    font-weight: 700;
    grid-template-areas: ". twelve ."
    "nine center three"
    ". six .";
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 500px;
    padding: 15px;
    text-shadow: 2px 2px var(--textShadowColor);
    width: 500px;
}

.hand{
    background-color: var(--handColor);
    border-radius: 5px;
    position: absolute;
    transform-origin:top left;
}

.hour{
    bottom: 49.6%;
    height: 7px;
    left: 49.8%;
    transform: rotate(var(--hDeg));
    width: 100px;
}

.minute{
    bottom: 49.5%;
    height: 5px;
    left: 50%;
    transform: rotate(var(--mDeg));
    transition: all ease 1s;
    width: 180px;
}

.second{
    background-color: var(--secondsHandColor);
    bottom: 49.5%;
    height: 3px;
    left: 49.8%;
    margin-bottom: 3px;
    transform: rotate(var(--sDeg));
    width: 11.5rem;
    z-index: 1;
}

.center{
    background-color:var(--centerColor); 
    border-radius: 100%;
    border: 5px solid var(--centerColor);
    grid-area: center;
    height: 25px;
    place-self: center;
    width: 25px;
    z-index: 1;
}

.twelve{
    grid-area: twelve;
    justify-self: center;
}

.three{
    align-self: center;
    grid-area: three;
    justify-self: end;
}

.six{
    align-self: end;
    grid-area: six;
    justify-self: center;
}

.nine{
    align-self: center;
    grid-area: nine;
}

@media only screen and (max-width: 530px ) {
    
    .clock{
        height: 300px;
        width: 300px;
    }
    .hour{
        width: 70px;
    }
    .minute{
        width: 120px;
    }

    .second{
        width: 130px;
    }
}

