:root{
    --hDeg : 0deg;
    --mDeg: 0deg;
    --sDeg: 0deg;
    --clockColor : #d1dae3;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    display: flex;
    font-size: 45px;
    height: 100vh;
    justify-content: center;
    width: 100%;
    background-color: #d1dae3;
}

.clock{
    background-color: var(--clockColor);
    border-radius: 50%;
    color: #777777;
    font-weight: 700;
    text-shadow: 2px 2px #7777777a;
    /* border: 1px black solid; */
    display: grid;
    grid-template-areas: ". twelve ."
    "nine center three"
    ". six .";
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 500px;
    width: 500px;     
    box-shadow: 7px 7px 7px #989ea5, 
    inset 0 0 50px #989ea5;        
    padding: 15px; 
}

.hand{
    /* height: 5px;
    width: 11rem; */
    background-color: black;
    
    transform-origin:top left;
    border-radius: 5px;
    position: absolute;
    /* bottom: 50%;
    left: 50%; */
    /* transform: rotate(-90deg) */
}

.hour{
    transform: rotate(var(--hDeg));
    height: 1vh;
    /* margin-left: 6px; */
    bottom: 48.5%;
    left: 50.1%;
    width: 2.5em ;
}

.minute{
    transform: rotate(var(--mDeg));
    height: 5px;
    width: 4em;
    bottom: 50%;
    left: 50%;
    transition: all ease 1s;
    /* margin-bottom: 4px; */
    /* margin-left: -1px; */
}

.second{
    transform: rotate(var(--sDeg));
    background-color: crimson;
    bottom: 49.5%;
    left: 50%;
    height: 3px;
    width: 11.5rem;
    z-index: 1;
    margin-bottom: 3px;
}

.center{
    background-color: #1a74be;
    border: 5px solid #1a74be;
    border-radius: 100%;
    grid-area: center;
    height: 25px;
    place-self: center;
    width: 25px;
    z-index: 1;
    /* display: none; */
}

.twelve{
    grid-area: twelve;
    justify-self: center;
}

.three{
    align-self: center;
    grid-area: three;
    justify-self: end;
}

.six{
    align-self: end;
    grid-area: six;
    justify-self: center;
}

.nine{
    align-self: center;
    grid-area: nine;
}